
<app-navbar></app-navbar>

  <div class="container mt-4">
    <h2 class="d-flex justify-content-between">List of Items
        <button type="button" (click)="addTask()" class="btn btn-sm btn-success add-btn">
            <i class="bi bi-plus"></i> Add
        </button>
    </h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th width="40%">Title</th>
                <th width="20%">Description</th>
                <th width="15%">Due Date</th>
                <th width="25%">Priority</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items; let i=index" class="list-item">
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.dueDate }}</td>
                <td class="priority-column">{{ item.priority }}
                    <div class="action-buttons d-flex justify-content-around">
                        <button *ngIf="!item.completed" type="button" (click)="editTask(i)" class="btn btn-sm btn-primary edit-btn">
                          <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button *ngIf="!item.completed" type="button" (click)="deleteTask(i)" class="btn btn-sm btn-danger delete-btn">
                          <i class="bi bi-trash-fill"></i>
                        </button>
                        <button type="button" (click)="completeTask(i)" class="btn btn-sm btn-success complete-btn">
                            <i class="bi bi-check-circle-fill"></i>
                          </button>
                      </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
