
<div class="container mt-4">
    <h2>{{ editIndex !== null ? 'Edit Task' : 'Add New Task' }}</h2>
    <form [formGroup]="taskForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" placeholder="Add the section title" id="title" class="form-control" formControlName="title">
            <p class="pt-1" style="color: red;" *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid">
                Please enter the title field
             </p>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" formControlName="description" placeholder="Enter task description"></textarea>
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date</label>
            <input type="date" id="dueDate" class="form-control" formControlName="dueDate" autocomplete="off" >
            <p class="pt-1" style="color: red;" *ngIf="taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.invalid">
                Select any due date
             </p>
        </div>
        <div class="form-group">
            <label for="priority">Priority</label>
            <select id="priority"  name="priority" class="form-control" placeholder="Select priority" formControlName="priority" required>
                <option *ngFor="let priority of priorities"  [value]="priority">{{priority}}</option>
            </select>
            <p class="pt-1" style="color: red;" *ngIf="taskForm.get('priority')?.touched && taskForm.get('priority')?.invalid">
                Please fill the priority field
             </p>
        </div>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">{{ editIndex !== null ? 'Update' : 'Submit' }}</button>
        <button type="submit" (click)="closeModal()" class="btn btn-primary ml-3">Close</button>
    </form>
</div>
